.blog {
    width: 100%;
    padding: 60px 8%;
    @include displayFlex(row, space-between, center);
    &__picture {
        flex-shrink: 0;
        width: 315px;
        height: 315px;
        object-fit: cover;
    }
    &__text-block {
        &_left {
            margin: 0 0 0 8%;
        }
        &_right {
            margin: 0 8% 0 0;
        }   
    }
    &__title {
        color: $titleColor;
        font-size: 36px;
        margin-bottom: 25px;
    }
    &__text {
        color: $textColor;
        font-size: 22px;
        line-height: 2em;
    }
}

@media (min-width: 1200px) {
    .blog {
        &_top &__picture {
            width: 500px;
            height: 600px;
        }
    }     
}

@media only screen and (max-width: 992px) {
    .blog {       
        &__picture {
            width: 350px;
            height: 450px;
        }
        &__text {
            color: $textColor;
            font-size: 20px;
            line-height: 1.3em;
        }
    }
}

@media only screen and (max-width: 768px) {
    .blog {  
        &_top {
            @include displayFlex(column, center, center);
        }
        &_top  &__title {
            margin: 40px 0 40px -40px;
            text-align: center;
        }
        &_bottom  &__picture {
            width: 315px;
            height: 315px;
        }
    }
        
}

@media only screen and (max-width: 576px) {
    .blog {
        &_bottom &__picture {
            display: none;
        }
        &__text-block {
            &_left {
                margin: 0;
            }
            &_right {
                margin: 0;
            }   
        }
    }
}